numpy

assigner==3.1.2
cython_bbox==0.1.5
lap==0.4.0
matplotlib==3.5.2
motmetrics==1.2.5
ntplib==0.4.0
opencv_python==4.5.5.64
pandas==1.4.2
Pillow==10.0.1
progress==1.6
psutil==5.9.8
PyYAML==6.0
scipy==1.8.1
tensorboardX==2.5
timm==0.6.7
tqdm==4.64.0
yacs==0.1.8
